@import "../../../assets/variables.scss";

.scroll-up-button {
	position: fixed;
	font-size: 2rem;
	bottom: 20px;
	right: 20px;
	background-color: transparent;
	border: transparent;

	@media (width > 600px) {
		font-size: 3rem;
	}

	.fa-circle-chevron-up {
		transition: 500ms;
		color: #fff;
		cursor: pointer;

		&:hover {
			color: $secondary-color-light;
		}
	}
}
