@import "../../assets/variables.scss";

.auction-container {
	overflow-x: auto;
	height: 100vh; // you can adjust the height as needed

	@media (width > 850px) {
		overflow-x: hidden;
	}

	.auction-header {
		opacity: 0;
		animation: fade-in-top 1s 1s ease-in-out forwards;
		text-align: center;
		position: sticky;
		z-index: 2;
		width: 100%;
		min-width: 850px;
		font-weight: 600;
		font-size: 1.2rem;
		top: 54px;
		background-color: #000;

		div {
			flex: 1;
			padding: 0.45em 0;
			white-space: nowrap;
		}
	}
}

.auction-page {
	position: relative;
	border: $border-light;
	text-align: center;
	min-width: 850px;
	animation: fade-in-left 1s ease-in-out;

	margin: 3rem auto 0;

	.auction-table {
		width: 100%;
		.auction-row {
			width: 100%;
			box-shadow: inset 1px 1px 10px rgb(0, 0, 0);

			&:hover {
				background-color: $secondary-color-dark !important;
			}

			&:nth-child(odd) {
				background-color: $table-row;
			}

			.auction-column {
				flex: 1;
				padding: 0.6rem 0.3rem;

				&.bidder-row {
					flex: 1;
					overflow: hidden;

					text-overflow: ellipsis;
					&:hover {
						color: $secondary-color-light;
					}
				}

				&.vault-row {
					text-align: center;
					i {
						&:hover {
							color: $secondary-color-light;
						}
					}
				}
			}
		}
	}
}
