@import "../../../assets/variables.scss";

header {
	position: fixed;
	z-index: 3;
	top: 0;
	width: 100%;
	background-color: black;
	border-bottom: $border-light;
	padding: 0.6rem 2rem;
	animation: slide-in-top 1s ease-in-out forwards;

	.logo-container {
		max-width: 150px;
		padding-right: 1rem;
	}

	h1 {
		border-left: $border-light;
		padding-left: 1rem;
		font-size: 1.5rem;
		display: none;

		@media (width > 500px) {
			display: block;
		}
	}

	.nav-list {
		.nav-text {
			display: none;
			pointer-events: none;

			@media (width > 600px) {
				display: block;
			}
		}
		li {
			font-size: 1.2rem;
			font-weight: 500;
			transition: 500ms;
			cursor: pointer;

			.mobile-info-icon {
				font-size: 1.2rem;
				@media (width > 900px) {
					display: none;
				}
			}

			&:hover {
				color: $secondary-color-light;
			}

			&.points-modal-btn {
				display: none;

				@media (width > 1250px) {
					display: block;
				}
			}

			&.about-modal-btn {
				.fa-user-astronaut {
					pointer-events: none;
				}
				span {
					display: none;
					pointer-events: none;

					@media (width > 500px) {
						display: block;
					}
				}
			}
		}
	}
	.minimum-price,
	.auction-total {
		opacity: 0;
		animation: slide-in-top 1s 1s ease-in-out forwards;
		font-weight: 600;
		font-size: 1rem;
		display: none;

		@media (width > 900px) {
			display: block;
		}
		@media (width > 1100px) {
			font-size: 1.3rem;
		}
	}

	.minimum-price {
		.fa-circle-info {
			font-size: 0.8rem;
			position: absolute;
			cursor: pointer;
			color: white;
			&:hover {
				color: $secondary-color-light;
			}
		}
	}

	.header-info-modal {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		max-width: 375px;
		background-color: $discord-background-color;
		transition: 800ms;
		border-radius: 0 0 1rem 1rem;
		box-shadow: 1px 1px 8px black;
		padding-bottom: 1rem;

		.info-image-container {
			position: relative;
			overflow: hidden;

			.fa-caret-up {
				position: absolute;
				bottom: 10px;
				right: 20px;
				font-size: 1.4rem;
				cursor: pointer;

				&:hover {
					color: $secondary-color-light;
				}
			}
		}

		.info-option {
			box-shadow: 1px 1px 8px #111;
			padding: 0.3rem 4rem;
			background-color: $secondary-color-light;
			p {
				font-weight: 600;
				color: #fff;
				text-shadow: 2px 2px 3px #111;
			}
			input {
				width: 15px;
				height: 15px;
			}

			.switch-container {
				width: 40px;
				height: 20px;
				border: $border-light;
				display: flex;
				border-radius: 50px;
				overflow: hidden;
				background-color: rgb(79, 74, 74);
				transition: 0.5s;
				box-shadow: inset 4px 4px 10px rgb(0, 0, 0);
				cursor: pointer;
			}

			.box-button {
				border-radius: 50%;
				position: absolute;
				width: 18px;
				height: 18px;
				transition: 1s;
				background-color: rgb(253, 253, 253);
				pointer-events: none;

				i {
					font-size: 0.9rem;
					color: $secondary-color-dark;
				}
			}
		}
	}
}
