$primary-color-dark: #000;
$primary-color-light: #fff;
$secondary-color-dark: #371111;
$secondary-color-light: #ff4242;
$alt-text-color: #7f8585;
$alt-text-color-dark: #5e5e5e;
$table-row:#272727;
$dark-bg-color: #0d0d0d;
$border-light: 1px solid rgba(255, 255, 255, 0.16);
$border-dark: 1px solid #262626;
$border: 1px solid rgb(255, 255, 255);
