@import "../../../assets/variables.scss";

.modal-container {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.897);
	animation: fade-in-grow 1.3s ease-in-out forwards;

	.modal-inner {
		position: relative;
		border-radius: 0.4rem;
		padding: 5rem;
		max-width: 1200px;
		flex-wrap: wrap;
		gap: 1rem;

		.points-card {
			background-color: $dark-bg-color;
			padding: 1.5rem;
			flex: 1 0 300px;
			align-items: flex-start;
			height: 208px;
			border: $border-light;
			letter-spacing: 1.4px;
			transition: 500ms;

			&:hover {
				transform: scale(1.03);
			}

			p {
				color: $alt-text-color-dark;
				font-size: 1.1rem;
				font-weight: 500;
				letter-spacing: normal;
				text-align: start;
			}

			.points-stat {
				color: $secondary-color-light;
				background-color: $secondary-color-dark;
				padding: 0.4rem;
				font-weight: 500;

				.spark-icon {
					max-width: 10px;
				}
			}
		}
	}
}
